{% extends "Layout/Main.twig" %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">{{ "My Profile" | i18n }}</h3>
            </div>
        </div>
    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ 'Profile Details' | i18n }}</h4>
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action bb-1 bb-dashed border-light media-list-divided media-list-hover">
                                <div class="d-flex align-items-center" data-toggle="modal" data-target="#profile-edit">
                                    <div class="mb-0 col-3 col-md-2">{{ "Username" | i18n }} </div>
                                    <h5 class="mb-0 col-9 col-md-10">{{ admin.user }}</h5>
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action bb-1 bb-dashed border-light media-list-divided media-list-hover">
                                <div class="d-flex align-items-center" data-toggle="modal" data-target="div#changeName">
                                    <div class="mb-0 col-3 col-md-2">{{ "Name" | i18n }} </div>
                                    <h5 class="mb-0 col-6 col-md-8">{{ admin.name }}</h5>
                                </div>
                            </div>
                            <div class="list-group-item list-group-item-action bb-1 bb-dashed border-light media-list-divided media-list-hover">
                                <div class="d-flex align-items-center align-top">
                                    <div class="mb-0 col-3 col-md-2">{{ "Two-Factor Authentication" | i18n }} </div>
                                    <div class="mb-0 col-6 col-md-8">
                                        {% if admin['2fa'] == 1 %}
                                            <span class="text-success">{{ "Enabled"|i18n }}</span>
                                            (<a href="javascript:deActive2FA();" type="submit"
                                                class="link text-danger">{{ 'Deactivate 2FA' | i18n }}</a>)
                                        {% else %}
                                            <h4>{{ "Set up via Third Party Authenticator"|i18n }}</h4>
                                            <h6>
                                                {{ "Please use your authentication app (such as Duo or Google Authenticator) to scan this QR code."|i18n }}
                                            </h6>
                                            <div id="qr2fa"></div>
                                            <h5>{{ "Enter Confirmation Code"|i18n }}</h5>
                                            <label for="code2fa">{{ "Please enter the confirmation code you see on your authentication app"|i18n }}</label>
                                            <input type="text" class="form-control w-50" id="code2fa" name="code2fa"
                                                   maxlength="6">
                                            <button type="submit" class="btn btn-success mt-1"
                                                    onclick="submitForm('active2FA')"> {{ 'Activate 2FA' | i18n }}</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="text-primary font-weight-500">{{ 'Change Password' | i18n }}</h5>
                                <p class="mb-0">{{ 'Set a unique password to protect your account.' | i18n }}</p>
                            </div>
                            <button class="btn btn btn-info" type="button" data-toggle="modal"
                                    data-target="div#changePassword">{{ 'Change Password' | i18n }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="changePassword" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"
                            id="myLargeModalLabel">{{ 'Change Password' | i18n }}：</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                    </div>
                    <div class="modal-body form-element">
                        <div class="form-group row">
                            <label for="inputOld"
                                   class="col-sm-5 control-label">{{ 'Current password' | i18n }}
                                ：</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="inputOld"
                                       name="oldpsw"
                                       placeholder="{{ "Please enter your old password" | i18n }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputNew"
                                   class="col-sm-5 control-label">{{ 'New password' | i18n }}
                                ：</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="inputNew"
                                       name="newpsw"
                                       placeholder="{{ "Please enter your new password" | i18n }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputConfirm"
                                   class="col-sm-5 control-label">{{ 'Confirm password' | i18n }}
                                ：</label>
                            <div class="col-sm-12">
                                <input type="password" class="form-control" id="inputConfirm"
                                       name="confirmpsw"
                                       placeholder="{{ "Please enter confirm password" | i18n }}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"
                                onclick="submitForm('password')"> {{ 'Submit' | i18n }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="changeName" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"
                            id="myLargeModalLabel">{{ 'Change Name' | i18n }}：</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                    </div>
                    <div class="modal-body form-element">
                        <div class="form-group row">
                            <label for="name"
                                   class="col-sm-5 control-label">{{ 'Change Name' | i18n }}
                                ：</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="name" name="name" value="{{ admin.name }}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success"
                                onclick="submitForm('name')"> {{ 'Submit' | i18n }}</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block script %}
    <script crossorigin="anonymous" src="{{ assetsSource }}/js/vendor/jquery-qrcode.min.js"></script>
    <script>
        {% if admin['2fa'] != 1 %}
        $("div#qr2fa").empty().qrcode({
            render: "image",
            text: "otpauth://totp/" + encodeURIComponent('{{ pageTitle }}') + "?secret={{ admin.secret }}",
            size: 200
        });
        {% endif %}

        function deActive2FA() {
            common.quest('normal', '{{ "Confirm message"|i18n }}',
                '{{ "Confirm to deactivate Two-Factor Authentication"|i18n }}', function () {
                    submitForm('deactivate2FA');
                });
        }

        function submitForm(action) {
            let submitData = {}, modelId = '';
            switch (action) {
                case 'active2FA':
                    submitData = {
                        "action": action,
                        "code": $("input#code2fa").val()
                    };
                    break;

                case 'deactivate2FA':
                    submitData = {
                        "action": action
                    };
                    break;

                case 'name':
                    submitData = {
                        "action": action,
                        "name": $("input#name").val()
                    };
                    modelId = 'div#changeName';
                    break;

                case 'password':
                    submitData = {
                        "action": action,
                        "oldpsw": $("#inputOld").val(),
                        "newpsw": $("#inputNew").val(),
                        'cfmpsw': $("#inputConfirm").val()
                    };
                    modelId = 'div#changePassword';
                    if (submitData.newpsw !== submitData.cfmpsw) {
                        $('input#inputOld').val('').focus();
                        $('input#inputConfirm').val('');
                        $('input#inputNew').val('');
                        common.notice('error', "{{ "Message"|i18n }}",
                            "{{ 'confirmpass_nomatch' |i18n }}");
                        return;
                    }
                    break;
            }

            common.showWait();
            common.post('{{ basePath }}/Profile/', submitData,
                function () {
                    common.hideWait();
                    if(modelId !== '')
                        $(modelId).modal('hide');
                    common.notice('success', "{{ "Message"|i18n }}",
                        "{{ 'Update profile success' |i18n }}", function () {
                            common.reload();
                        });
                }, function () {
                    common.hideWait();
                });
        }
    </script>
{% endblock %}
