{% extends "Layout/Auth.twig" %}

{% block title %}{{ title|default('Npf Project') }} - {{ "Two-Factor Authentication"|i18n }}{% endblock %}
{% block content %}
    <div class="text-center w-75 m-auto">
        <h4 class="text-dark-50 text-center mt-0 font-weight-bold text-uppercase">{{ "Two-Factor Authentication"|i18n }}</h4>
        <p class="text-muted mb-4">{{ 'Enter the code from the two-factor app on your mobile device. If you\'ve lost your device, you may need to contact administrator.' | i18n }}</p>
    </div>

    <form id="otp" action="/Auth/Auth2FA" method="post" type="application/x-www-form-urlencoded">
        <input type="hidden" name="action" value="auth_otp" />
        <div class="form-group">
            <label for="code">{{ "Two-factor authentication code"|i18n }}</label>
            <input class="form-control" id="code" name="code" required minlength="6"  maxlength="6">
        </div>

        <div class="form-group mb-0 text-center">
            <button class="btn btn-primary" type="submit">{{ "Verify Code"|i18n|upper }}</button>
        </div>

        <p class="mt-4 text-center">
            <a href="/Auth/Login">{{ "Another Login"|i18n }}</a>
        </p>

    </form>
{% endblock %}