{% macro conditionNumber(amount) %}
    {% if amount > 0 %}
        <span class="text-success">{{ amount|abs|number_format(2) }}</span>
    {% elseif amount < 0 %}
        <span class="text-danger">{{ amount|abs|number_format(2) }}</span>
    {% else %}
        <span class="text-secondary">-</span>
    {% endif %}
{% endmacro %}

{% macro number(amount) %}
    {{ amount|number_format(2) }}
{% endmacro %}

{% macro showCurrecy(currency) %}
    {% if currency is not empty %}
        (<span class="text-info">{{ currency }}</span>)
    {% endif %}
{% endmacro %}

{% macro bytesToSize(bytes) %}
    {% spaceless %}
        {% set kilobyte = 1024 %}
        {% set megabyte = kilobyte * 1024 %}
        {% set gigabyte = megabyte * 1024 %}
        {% set terabyte = gigabyte * 1024 %}

        {% if bytes < kilobyte %}
            {% if bytes > 1 %}
                {{ bytes ~ ' Byte' }}
            {% else %}
                {{ bytes ~ ' Bytes' }}
            {% endif %}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(2, '.') ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(2, '.') ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(2, '.') ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(2, '.') ~ ' TB' }}
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro jsonTableShow(data) %}
    {% if data is empty %}
        <span class="text-muted">({{ "Empty" }})</span>
    {% elseif data|getVarType == 'assoc' or data|getVarType == 'object' %}
        <table class="table table-sm table-centered table-striped">
            {% for key, value in data %}
                <tr class="row">
                    <td class="col-2 text-nowrap">{{ key }}</td>
                    <td class="col-10">
                        {{ _self.jsonShow(value) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% elseif data|getVarType == 'array' %}
        <table class="table table-centered">
            {% for value in data %}
                <tr>
                    <td class="col-12">
                        {{ _self.jsonShow(value) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% elseif data|getVarType == 'string' %}
        <span class="text-danger">{{ data }}</span>
    {% elseif data|getVarType == 'integer' or data|getVarType == 'double' %}
        <span class="text-success">{{ data }}</span>
    {% elseif data|getVarType == 'boolean' %}
        <span class="text-primary">{{ data == true ? 'true' : 'false' }}</span>
    {% endif %}
{% endmacro %}