<!DOCTYPE html>
<html lang="en" translate="no">
{% embed "Layout/Component/Head.twig" with { meta: block('meta'), pageTitle: block('title')|default(pageTitle|default("Npf Project")), css:block('css')} %}
    {% block meta %}
        {% if meta is not empty %}
            {{ meta|raw }}
        {% else %}
            <meta name="theme-color" content="#343a40">
            <meta property="og:type" content="website"/>
            <meta property="og:url" content="{{ app.request.getBaseURL() }}"/>
            <meta property="og:site_name" content="JxLibrary"/>
            <meta property="og:image" itemprop="image primaryImageOfPage"
                  content="{{ imageSource }}/logo/192.png"/>
        {% endif %}
    {% endblock %}

    {% block pageTitle %}
        {{ pageTitle|raw }}
    {% endblock %}

    {% block css %}
        {% if css is not empty %}
            {{ css|raw }}
        {% endif %}
    {% endblock %}

{% endembed %}

<body class="loading authentication-bg" data-layout="detached">

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a>
                            <span class="h1 text-white font-weight-bold">Npf Project</span>
                        </a>
                    </div>
                    <div class="card-body p-4">
                        {% block content %}{% endblock %}
                    </div> <!-- end card-body -->
                </div><!-- end card -->
            </div> <!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
    2020 © LYK
</footer>

{% include 'Layout/Component/Script.twig' %}
{% block script %}{% endblock %}

</body>
</html>
